<h1>Pàgina Principal</h1>
<!-- <div *ngIf="identificado; else noIdentificado">
  <h3>Estas identificado en la app</h3>
  <button (click)="unSetIdentificado()">Borrar identificacion</button>
</div> if else -->
<div *ngIf="identificado; then siIdentificado else noIdentificado">
    
  </div>

<ng-template #siIdentificado>
    <h3>Estas identificado en la app</h3>
    <button (click)="unSetIdentificado()">Borrar identificacion</button>
</ng-template>

<ng-template #noIdentificado>
  <p>No estas identificado pulsa este boton para identificarte</p>
  <button (click)="setIdentificado()">Identificarse</button>
</ng-template>
